@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
  margin: 0 auto;
  box-sizing: border-box;

}
a{
  color: black !important;
}
.pro{
  width: 75%;
}
.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;

}
.my-card{
margin-top: 30px;
}
.auth-card{
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.input-field input:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}
.switching{
  color: #1565c0 !important ;
  font-size: small;
}
.flexIt{
  display: flex;
 justify-content: space-between;
  margin: 18px 0px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
.profileImg{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.flexContent{
  display: flex;
  justify-content: space-between;
  width: 108%;
}
.gallery{
display: flex;
flex-wrap: wrap;
}
.item{
margin: 10px;
width:calc((100% / 3) - 20px);

}